.grid {
	margin:0 auto 0;
	border-collapse:collapse;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.grid td {
    cursor:pointer;
    width:15px;
    height:15px;
    text-align:center;
    font-family:sans-serif;
    font-size:1px;
    padding: 0;
}
.grid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

.tilegrid { border-collapse:collapse }
.tilegrid td {
    cursor:pointer;
}
.tilegrid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

.grid img {
  width:15px;
  height:15px;
}

#tiles {
  height: 300px;
  overflow-y: scroll;
}

#tiles table {
  width: 100%
}
